/*It allows to have video caurosel(snapping) functionality in y axis */
/* mandatory */
html {
  scroll-snap-type: y mandatory;
}

.app {
  display: grid;
  background-color: black;
  height: 100vh;
}

.app__videos {
  position: relative;
  height: 800px;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
  border-radius: 20px;
  margin: 0 50% 0 33%;
}

/* For hidding scrollbar */
/* Don't use overflow: hidden */
.app__videos::-webkit-scrollbar {
  display: none;
}
